{% load static %}
<!DOCTYPE html>

<html xml:lang="en-US" lang="en-US">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Animation website</title>

    <meta name="author" content="themesflat.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="{% static 'js/website/assets/css/style.css' %}">

    <!-- Reponsive -->
    <link rel="stylesheet" type="text/css" href="{% static 'js/website/assets/css/responsive.css' %}">

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="{% static 'js/website/assets/icon/Favicon.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'js/website/assets/icon/logo.png' %}">

</head>
<style type="text/css">
    .youtube-container {
    
    pointer-events: none;
    }
   
</style>

<body class="body background-white">

    
        
    <div id="wrapper">
        <div id="page" class="pt-40">

            

            <div class="flat-pages-title-home5 relative has-slider">
                <div class="themesflat-container w1230">
                    <div class="row">
                        <div class="col-12 pages-title">
                            <div class="content">
                                <h1 data-wow-delay="0s" class="wow fadeInUp">Discover the Animations<br> for worldwid creators</h1>
                                <p data-wow-delay="0.1s" class="wow fadeInUp">Hello Again! We're Thrilled to See You!</p>
                              
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

    
            

            <div class="tf-section-3 discover-item  ">
                <div class="themesflat-container">
                    <div class="row">
                        <div class="col-md-12">
                            
                        </div>
                        
                        
                        <div data-wow-delay="0.2s" class="wow fadeInUp col-xl-12 col-lg-4 col-md-6 col-sm-6">
                            <div class="tf-card-box style-1 bg-white">
                                <div class="card-media">
                                    <a href="#">
                                        <img style="width: 100%;" src="{% static 'js/website/assets/images/box-item/card-item-35.jpg' %}" alt="">
                                    </a>
                                


                                    <h1>paste here login form</h1>

                                   
                                    {% comment %} past code above {% endcomment %}
                                    <span class="wishlist-button icon-heart"></span>
                                </div>
                                
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>           
        
            
            
            

            <!-- Footer -->
            <footer id="footer" class="bg-white">
                <div class="themesflat-container">
                    
                    <div class="footer-bottom">
                        <p>© 2023 Animation - Made By Aman Dhole</p>
                        <ul class="flex">
                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#">Terms of Service</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer><!-- /#footer -->

        </div>
       

       

    </div>
      <!-- /#wrapper -->

    <div class="tf-mouse tf-mouse-outer"></div>
    <div class="tf-mouse tf-mouse-inner"></div>

    <div class="progress-wrap active-progress">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 286.138;"></path>
        </svg>
    </div>

    <!-- Javascript -->
    <script src="{% static 'js/website/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'js/website/assets/js/popper.min.js' %}"></script>
    <script src="{% static 'js/website/assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/website/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/website/assets/js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/website/assets/js/swiper.js' %}"></script>
    <script src="{% static 'js/website/assets/js/count-down.js' %}"></script>
    <script src="{% static 'js/website/assets/js/simpleParallax.min.js' %}"></script>
    <script src="{% static 'js/website/assets/js/gsap.js' %}"></script>
    <script src="{% static 'js/website/assets/js/SplitText.js' %}"></script>
    <script src="{% static 'js/website/assets/js/wow.min.js' %}"></script>
    <script src="{% static 'js/website/assets/js/ScrollTrigger.js' %}"></script>
    <script src="{% static 'js/website/assets/js/gsap-animation.js' %}"></script>
    <script src="{% static 'js/website/assets/js/tsparticles.min.js' %}"></script>
    <script src="{% static 'js/website/assets/js/tsparticles.js' %}"></script>
    <script src="{% static 'js/website/assets/js/main.js' %}"></script>

</body>


</html>